<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- font -->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    <!-- Style css -->
    <link href="css/style.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top navbar-homepage">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="#"><img class="navbar-logo" src="images/logo-groovy.png" alt="logo-groovy"/></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="navbar-menus"><strong>FEATURES</strong></span></a></li>
                <li><a href="#"><span class="navbar-menus"><strong>PACKAGES</strong></span></a></li>
                <li><a href="#"><span class="navbar-menus"><strong>SUPPORT</strong></span></a></li>
                <li class="active"><a href="signin.html"><span class="sign-in-only"><strong>SIGN IN</strong></span></a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<div class="wall-home jumbotron">
    <div class="container wall-content">
        <div class="row">
            <div class="col-sm-6">
                <p><span class="wall-title"><strong>Happy is simple,<br/> Start from your home, Right now!</strong></span></p>
                <p><span class="wall-text">Combine high speed Internet access with TV and WiFi more than 100K hotspot location, speed up to 100Mbps</span></p>
                <a href="#" type="submit" class="btn btn-subscribe"><span class="subscribe-text">SUBSCRIBE NOW</span></a>
            </div>
            <div class="col-sm-6">
                <img src="images/groovy-multi-device-copy.png" width="100%"/>
            </div>
        </div>
    </div>
</div>

<div class="jumbotron wall-home-content">
    <div class="container wall-home-content-container">
        <div class="row">
            <div class="col-sm-7">
                <p><span class="wall-content-title">High Speed Fiber Internet</span></p>
                <p>With Groovy High-Speed Fiber Internet, you're always connected to our reliable network</p>
            </div>
        </div>
    </div>
</div>

<div class="jumbotron wall-home-content-2">
    <div class="container-fluid wall-content">
        <div class="row">
            <div class="col-sm-6">
                <img src="images/screenshot_4.jpg" width="100%"/>
            </div>
            <div class="col-sm-6">
                <p><span class="wall-title">All Entertainment In One Product</span></p>
                <p>You can take your entertainment with you. Wath the hottest shows and movies On Demand, stream live TV, social TV or watch your recorded shows. Just turn on yout TV, laptop, tablet or phone</p>
            </div>
        </div>
    </div>
</div>
<div class="jumbotron home-footer">
    <div class="container home-content">
        <div class="row">
            <div class="col-sm-3">
                    <li>Stay Connected</li>
                    <li>Facebook</li>
                    <li>Twitter</li>
                    <li>Instagram</li>
                    <li>Youtube</li>
            </div>
            <div class="col-sm-3">

            </div>
            <div class="col-sm-3">

            </div>
            <div class="col-sm-3">

            </div>
        </div>
    </div>
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>
</body>
</html>