<!DOCTYPE html>
<html>
<head>
    <title>Andalworks - Work Smarter, Think Bigger, Make More</title>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, width=device-width, height=device-height">
    <meta property="og:url" content="http://andalworks.id/">
    <meta property="og:title" content="andalworks">
    <meta property="og:image" content="">
    <meta property="og:site_name" content="andalworks">
    <meta property="og:description" content="Work Smarter, Think Bigger, Make More.">
    <meta itemprop="name" content="andalworks">
    <meta itemprop="description" content="Work Smarter, Think Bigger, Make More.">
    <meta itemprop="image" content="">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="andalworks">
    <meta name="twitter:description" content="Work Smarter, Think Bigger, Make More.">
    <meta name="description" content="Work Smarter, Think Bigger, Make More.">
    <meta name="theme-color" content="#ffffff">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!-- /Bootstrap -->
    <style>
         html, body { overflow-x: hidden; }
        .wall{
            background-image:url(./images/background-andalworks.png);
            background-size: cover;
            background-position:center;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            height:550px;
        }
        .andalworks-logo{
            padding:20px 0 0 35px;
            height:44px;
        }
        .tagline{
            margin-top:180px;
            font-size:55px;
            text-align:center;
            font-weight:200;
        }
        .transparent{
            opacity:0;
        }
        .content{
            padding:80px 0 70px 0;
        }
        .footer{
            height:93px;color:#666;background-color:#e0e0e0;
        }
        .footer-left{
            padding:34px 0 0 50px;
        }
        .footer-right{
            padding:24px 50px 0 0;text-align:right;
        }
        @media only screen and (max-width : 979px){
            .footer-right{
                padding:15px 50px 0 0;
            }
        }
        @media only screen and (max-width : 768px){
            .andalworks-logo{
                padding:20px 0 0 0px;
            }
            .tagline{
            font-size:55px;
            text-align:center;
            margin-top:130px;
            }
            .andal-header{
            text-align:center;
            padding-left:0;
            }
            .content{
                padding:17px 0 1px 0;
            }
            .footer-left{
                padding:16px 0 0 0;
                text-align:center;
            }
            .footer-right{
                padding:0;
                text-align:center;
            }
        }
        @media only screen and (max-width : 420px){
            .tagline{
            font-size:50px;
            text-align:center;
            margin-top:130px;
            }
            .footer{
                height:114px;
                padding:0 15px 0 15px;
            }
        }
    </style>
</head>
<body>
    <div class="wall">
        <div class="andal-header">
            <img class="andalworks-logo" src="./images/andalworks-logo.png"/>
        </div>
        <div>
            <h5 class="tagline">Work<span class="transparent">_</span>Smarter, Think<span class="transparent">_</span>Bigger, Make<span class="transparent">_</span>More</h5>
        </div>
    </div>
    <div class="content">
        <div class="container">
            <div class="row">
                <div style="margin-bottom:17px;" class="col-sm-4"><a href=""><img width="100%" src="./images/nusanet_logo.png"/></a></div>
                <div style="margin-bottom:17px;" class="col-sm-4"><a href=""><img width="100%" src="./images/idcolo.png"/></a></div>
                <div style="margin-bottom:17px;" class="col-sm-4"><a href=""><img width="100%" src="./images/groovy-logo-new.png"/></a></div>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="container">
           <a href="./career" class="navButton pull-right" style="padding:10px 50px 10px 50px;color:gray;font-size:18px;">View career opportunities</a>
        </div>
    </div>

    <div class="footer">
        <div class="row">
            <div class="col-sm-6 footer-left">&copy; 2016 - PT Media Andalan Nusa</div>
            <div class="col-sm-6 footer-right">Contact: <a style="color:#4d87f4;">+6221 527 6616</a><br/>
                Cyber Building 7th Floor, Jln Kuningan Barat 8, Jakarta 12710, Indonesia</div>
        </div>
    </div>
</body>
</html>
