<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- font -->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    <!-- Style css -->
    <link href="css/style.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top navbar-homepage">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="../"><img class="navbar-logo" src="images/logo-groovy.png" alt="logo-groovy"/></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="features"><span class="navbar-menus"><strong>FEATURES</strong></span></a></li>
              <li><a href="packages"><span class="navbar-menus"><strong>PACKAGES</strong></span></a></li>
              <li><a href="support"><span class="navbar-menus"><strong>SUPPORT</strong></span></a></li>
                <li class="active"><a href="signin"><span class="sign-in-only"><strong>SIGN IN</strong></span></a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>
<!--content-->
<div class="container">
    <div class="support">
        <h2><span class="support-content-header">Welcome To Groovy Help Center</span></h2>
        <p><span class="support-content-text">Need help?<br>Find the answer to any question, from the basics all the way to advance guide</span></p>

        <div class="support-menu">
            <div class="support-content">
                <button class="support-button-faq" data-toggle="collapse" data-target="#supportContent1">Apa itu Groovy ?<span style="float: right;margin-right:20px;" class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
                <div id="supportContent1" class="collapse">
                    <p class="support-paragraph-faq">Groovy adalah layanan hiburan yang menggabungkan Internet, Live TV, Video On Demand, Social TV, Catch Up TV Channel dan Radio Streaming menggunakan jalur internet.</p>
                </div>
            </div>

            <div class="support-content">
                <button class="support-button-faq" data-toggle="collapse" data-target="#supportContent2">Apa layanan yang ditawarkan Groovy ?<span style="float: right;margin-right:20px;" class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
                <div id="supportContent2" class="collapse">
                    <p class="support-paragraph-faq">Groovy menyediakan layanan yang sangat bervariasi. Mulai dari Live TV dengan 94+ channel lokal dan internasional, Video on Demand dengan film terbaru yang selalu update, Social TV yang berisi banyak video terbaik di berbagai kategorinya, Radio Streaming dan Catch Up TV yang mampu menghadirkan siaran televisi sampai dengan 3 hari sebelumnya</p>
                </div>
            </div>

            <div class="support-content">
                <button class="support-button-faq" data-toggle="collapse" data-target="#supportContent3">Berapa harga untuk langganan setiap bulanya ?<span style="float: right;margin-right:20px;" class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
                <div id="supportContent3" class="collapse">
                    <p class="support-paragraph-faq">Biaya langganan setiap bulanya bervariasi. Terdapat 3 paket yang bisa Anda sesuaikan dengan kebutuhan Anda. <a href="http://www.groovy.id/packages">http://www.groovy.id/packages</a></p>
                </div>
            </div>

            <div class="support-content">
                <button class="support-button-faq" data-toggle="collapse" data-target="#supportContent4">Apa yang saya butuhkan untuk berlangganan Groovy ?<span style="float: right;margin-right:20px;" class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
                <div id="supportContent4" class="collapse">
                    <p class="support-paragraph-faq">Untuk berlangganan Groovy Anda membutuhkan perangkat TV dengan input HDMI. Anda tidak perlu mempermasalahkan jaringan internet, karena Groovy sudah menyertakan jaringan internet berkecepatan tinggi bersama dengan paket Groovy.</p>
                </div>
            </div>

            <div class="support-content">
                <button class="support-button-faq" data-toggle="collapse" data-target="#supportContent5">Bagaimana cara mendaftar Groovy ?<span style="float: right;margin-right:20px;" class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
                <div id="supportContent5" class="collapse">
                    <p class="support-paragraph-faq">Untuk mendaftar di Groovy silahkan buka <a href="http://www.groovy.id">http://www.groovy.id</a> Kemudian klik Sign In di pojok kanan atas. Setelah modal popup terbuka klik Create Account di bagian bawah popup. Masukan data anda, pilih paket yang diinginkan serta lokasi pemasangan kemudian klik SIGN UP. Buka email Anda dan klik link konfirmasi pendaftaran setelah itu masukan password baru untuk akun Groovy Anda.</p>
                </div>
            </div>

            <div class="support-content">
                <button class="support-button-faq" data-toggle="collapse" data-target="#supportContent6">Bagaimana cara login ke akun Groovy ?<span style="float: right;margin-right:20px;" class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
                <div id="supportContent6" class="collapse">
                    <p class="support-paragraph-faq">Untuk masuk ke akun Groovy Anda silahkan buka <a href="http://www.groovy.id">http://www.groovy.id</a> Kemudian klik Sign In di pojok kanan atas. Setelah modal popup terbuka masukan email dan kata sandi Anda, kemudian klik SIGN IN. Setelah berhasil Anda akan diarahkan ke halaman dashboard.</p>
                </div>
            </div>


        </div>
    </div>
</div>

<div class="support-content-2">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <span class="support-content2-text">Want to ask more details about the service Groovy?</span>
                <a href="#" class="support-link-contact">Contact Us</a>
            </div>
        </div>
    </div>
</div>
<!--/content-->
<div class="jumbotron home-footer">
    <div class="container home-content">
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-sm-3">
                <p style="line-height:25px;"><span class="home-footer-header-text">Stay Connected</span><br>
                <span class="home-footer-body-text">
                    <a href="#">Facebook</a><br>
                    <a href="#">Twitter</a><br>
                    <a href="#">Instagram</a><br>
                    <a href="#">Youtube</a>
                </span></p>
            </div>
            <div class="col-xs-6 col-sm-6 col-sm-3">
                <p style="line-height:25px;"><span class="home-footer-header-text">Features</span><br>
                    <span class="home-footer-body-text">
                    <a href="#">Internet</a><br>
                    <a href="#">Live TV</a><br>
                    <a href="#">Video on Demand</a><br>
                    <a href="#">Social TV</a><br>
                    <a href="#">Catch-up TV Channel</a><br>
                    <a href="#">Radio Streaming</a>
                </span></p>
            </div>
            <div class="col-xs-6 col-sm-6 col-sm-3">
                <p style="line-height:25px;"><span class="home-footer-header-text">Groovy</span><br>
                <span class="home-footer-body-text">
                    <a href="#">About</a><br/>
                    <a href="">Career</a><br>
                    <a href="">Event</a><br>
                    <a href="">Contact</a><br>
                    <a href="">Privacy Policy</a><br>
                    <a href="">Terms of Use</a>
                </span></p>
            </div>
            <div class="col-xs-6 col-sm-6 col-sm-3">
                <p style="line-height:25px;"><span class="home-footer-header-text"><img src="images/groovy.png" alt="" width="120px"></span><br>
                    <span class="home-footer-body-text">Layanan Internet terbaik untuk komplek perumahan dan apartemen dengan mengkombinasikan layanan hiburan terlengkap mullai dari live TV, video on demand, social TV, catch-up TV dan radio streaming
                </p>
            </div>
        </div>
    </div>
</div>
<div class="footer-home">
    <div class="container footer-home-text">
        <p>Copyright 2016 Groovy. All Right Reserved.</p>
    </div>
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>
</body>
</html>
